/* ==Milik Bagian 1 & 3== */
@media all and (max-width: 1000px) {
/*  Bagian 1  */
  .header-left {
    display: none;
  }
  .menu-bar {
    font-size: 14px;
  }
  .more {
    display: inline;
  }

/*  Bagian 3  */
  .hero {
		width:50%;
		margin-bottom:30px;
	}
	.heroes-heading {
		font-size:30px;
	}
  
}

@media all and (max-width: 670px) {
/*  Bagian 1  */
  .header-right {
    display: none;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  footer {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
  .title-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .title-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
/*  Bagian 3  */
  .hero {
		width:100%;
	}
}

/* ==Milik Bagian 2== */
@media(max-width: 1200px){
    .long {
        width: 610px;
    }
    .short {
        width: 285px;
    }
    .events-container a {
        margin: 20px;
    }
    .event-circle {
        left: 275px;
    }
    .short .event-circle {
        left: 112.5px;
    }
}

@media(max-width: 720px){
    .long {
        width: 400px;
    }
    .short {
        width: 400px;
    }
    .events-container a {
        margin: 15px;
    }
    .event-circle, .short .event-circle {
        left: 170px;
    }
}
