/* ==Milik Bagian 1 & 3== */
@media all and (max-width: 1000px) {
/*  Bagian 1  */
  .header-left {
    display: none;
  }
  .menu-bar {
    font-size: 14px;
  }
  .more {
    display: inline;
  }

/*  Bagian 3  */
  .hero {
		width:50%;
		margin-bottom:30px;
	}
	.heroes-heading {
		font-size:30px;
	}
  
}

@media all and (max-width: 670px) {
/*  Bagian 1  */
  .header-right a{
    font-size: 11px;
    padding: 0 5px;
  }

  footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .footer-left {
    float: none;
  }
  .footer-right {
    float: none;
  }
  .footer-right img{
    padding-top: 5px;
  }
  .btn {
    width: 100%;
  }
  .title-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .title-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
/*  Bagian 3  */
	.hero {
		width:100%;
	}
	.box {
		width:70%;
	}
	.name {
		margin:10px auto;
	}
	.context {
		font-size:13px;
	}

}

/* ==Milik Bagian 2== */
@media(min-width: 720px){
    .long {
        width: 610px;
    }
    .short {
        width: 285px;
    }
    .events-container a {
        margin: 20px;
    }
    .event-circle {
        left: 275px;
    }
    .short .event-circle {
        left: 112.5px;
    }
    .event-box:hover {
        transition: all 1s;
        transform: scale(1.05);
    }
    .events-container a {
	margin: 15px 15px;
    }
    .event-box:hover .event-circle {
	display: none;
}

@media(max-width: 719px){
    .long {
        width: 380px;
    }
    .short {
        width: 380px;
    }
    .events-container a {
        margin: 15px;
    }
    .event-circle, .short .event-circle {
        left: 160px;
    }
}

/* ==Milik Bagian 4== */

/* Layout untuk Tablet */
@media (max-width: 1000px) {
.arena-box .long {
  width:40%;
  overflow: hidden;
  flex-wrap: wrap;
  flex: auto;
  }
.about {
  width:50%;
  font-size:10px;
  position:relative;
  left:345px;
  }
.details {
  flex-wrap:wrap;
  flex:auto;
  }
.details p {
  width:70%;
  }
.details li {
  margin:20px 10px;
  font-size:10px;
  position:relative;
  left:360px;
  }
.containerAtas {
  background-size:cover;
  width:100%;
  height:450px;
  transform:scale(1.3);
  position:relative;
  left:-220px;
  top:68px;
  }
.containerBawah {
  position:relative;
  left:15px;
}
.headerArenaTengah {
  padding-top: 20px;
  letter-spacing: 5px;
  position: relative;
  left:185px;
  text-indent: 5px;
  font-size: 0.9rem;
}
.featured-mode h2{
  padding-top: 140px;
  padding-bottom:8px;
  color:#85784a ;
  letter-spacing: 5px;
  position: relative;
  left:180px;
  text-indent: 5px;
  font-size: 1.4rem;
}
.btn-gameModes {
  padding: 20px 15px;
  font-weight: 400;
  letter-spacing: 4px;
  text-indent: 5px;
  font-size: 10px;
  position: relative;
  left:240px;
  top:-80px;
}
.message-wrapperArena{
  height:50px;
}
}

/* Layout untuk Smartphone */
@media (max-width:670px) {

  .arena-box .long {
  width:82%;
  height:150px;
  flex-wrap: wrap;
  flex-direction:column;
  flex: auto;
  margin:10px auto;
  }
 .arena-image{
   height:120; 
  }
.about {
  width:50%;
  font-size:6px;
  position:relative;
  left:175px;
  }
.details {
  flex-wrap:wrap;
  flex:auto;
  }
.details p {
  width:80%;
  }
.details li {
  margin:15px 5px;
  font-size:6px;
  position:relative;
  left:165px;
  }
.containerAtas {
  background-size:155%;
  background-repeat:no-repeat;
  width:100%;
  height:250px;
  transform:scale(1.3);
  position:relative;
  left:-120px;
  top:40px;
  }
.containerBawah {
  position:relative;
  left:15px;
}
.headerArenaTengah {
  padding-top: 10px;
  letter-spacing: 3px;
  position: relative;
  left:90px;
  text-indent: 3px;
  font-size: 0.6rem;
}
.featured-mode h2{
  padding-top: 70px;
  padding-bottom:5px;
  color:#85784a ;
  letter-spacing: 3px;
  position: relative;
  left:90px;
  text-indent: 3px;
  font-size: 0.9rem;
}
.btn-gameModes {
  padding: 20px 15px;
  font-weight: 400;
  letter-spacing: 4px;
  text-indent: 5px;
  font-size: 10px;
  position: relative;
  left:75px;
  top:-60px;
}
.message-wrapperArena{
  height:50px;
}
}
