* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*====== Milik Bagian 1 ======*/

header {
  height: 50px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 100;
  margin-left: auto;
  margin-right: auto; 
}

.menu-bar {
	display: flex;
}

.logo {
  width: 30%;
  height: 30%;
  margin-top: 10px;
}

.more {
	display: none;
}

.header-left {
  flex: auto;
}

.header-right {
  flex: auto;
}

.header-right a {
  line-height: 50px;
  padding: 0 20px;
  color: white;
  float: left;
  transition: all 0.5s;
}

.header-left a {
  line-height: 50px;
  padding: 0 20px;
  color: white;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	padding-top: 5px;
}

.title-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(material/smite_website_header.jpg);
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 5px #000;
  text-align: center;
}

.title-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin: 20px;
  font-family: "Verdana";
  font-weight: bold;
  color: gold;
}

.title-wrapper p {
  opacity: 1;
  margin-bottom: 3px;
  font-family: "Verdana";
  font-weight: bold;	
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  background-color: gray;
  cursor: pointer;
  box-shadow: 0 7px #000;
  font-family: "Cinzel";
  margin-top: 25px;
}

.btn:hover {
  opacity: 1;
}

.play:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.footer-right img {
	padding-top: 20px; 
	width: 38px;
	height: auto;
}

/*====== Milik Bagian 2 ======*/
.events-wrapper h5 {
    padding-top: 40px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 8px;
    position: relative;
    text-align: center;
    text-indent: 8px;
    font-family: "Cinzel", serif;
    font-size: 2.6rem;
    margin: 0;
    display: block;
    box-sizing: border-box;
}

.events-wrapper {
    background-color: #091729;
    padding: 20px auto;
    padding-bottom: 0;
    width: 100%;
}

.events-container {
    justify-content: center;
    width: 90%;
    margin: 20px 5%;
    margin-bottom: 0;
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.events-container a {
    text-decoration: none;
    margin: 15px 15px;
}

.event-box {
    border: 1px solid #85784a;
    display: block;
    float: left;
    box-shadow: 0 0 10px #000;
}

.long {
    width: 500px;
}

.short {
    width: 235px;
}

.event-image {
    display: block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 50%;
}

.long .img {
    width: 100%;
    height: 20rem;
}

.event-name {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    display: block;
    background-color: #050d1a;
    border-top: 1px solid #85784a;
}

h7 {
    position: relative;
    top: -25px;
    width: 100%;
    display: block;
    padding-top: 1rem;
    border-top: inherit;

    font-family: "Cinzel", serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3px;
}

.event-circle {
    z-index: 10;
    position: inherit;
    top: -30px;
    left: 220px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #050d1a;
    border: 1px solid #85784a;
    text-align: center;
}

.short .event-circle {
    left: 85px;
}

.event-name .keris {
    position: inherit;
    top: 7px;
    height: 40px;
    width: 40px;
}

/* ====== Milik Bagian 3 ======*/
.heroes {
	padding-bottom: 50px;
	background-color: black;
	text-align: center;
}
.heroes-container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.heroes-heading {
	padding-top: 20px;
	color: #fff;
	font-family:"Verdana";
	font-size:45px;
	letter-spacing:8px;
}
.hero {
	width: 25%;
	float: left;
	height: 600px
}
.box {
	width:90%;
	height:100%;
	border: 5px ridge lightgray;
	margin:0 auto;
}
.pic {
	width:100%;
	height:60%;
	margin:0 auto;
}
.fighter {
	background-image: url(https://web2.hirez.com/smite/god-cards/achilles.jpg);
	background-size:cover;
}
.robot {
	background-image: url(https://web2.hirez.com/smite/god-cards/thanatos.jpg);
	background-size:cover;
}
.wizard {
	background-image: url(https://web2.hirez.com/smite/god-cards/hera.jpg);
	background-size:cover;
}
.cleric {
	background-image: url(https://web2.hirez.com/smite/god-cards/change.jpg);
	background-size:cover;
}
.name {
	width:80%;
	color:lightgray;
	display:inline-block;
	font-size:20px;
	font-family:"Cinzel";
	letter-spacing:2px;
	font-weight:bold;
	margin: 10px auto;
}
.context {
	width:95%;
	color:lightgray;
	display:inline-block;
	font-size:80%;
	font-family:"Century Gothic";
	margin: 0 auto;
}

/*====== Milik Bagian 4 ======*/
.page-home_gameModes-container{
  background-color:#000;
  width:100%;
  border-bottom: 4px solid #85784a;
  border-top: 4px solid #85784a;
}

.featured-mode{
  color:#85784a;
  text-align:center;
  font-family:"Penumbra Half Serif"
  text-decoration:none;
  
}

.featured-mode h2{
  padding-top: 180px;
  padding-bottom:10px;
  color:#85784a ;
  font-weight: 400;
  letter-spacing: 8px;
  position: relative;
  text-align: center;
  text-indent: 8px;
  font-family: "Penumbra Half Serif";
  font-size: 1.6rem;
  margin: 0;
  display: block;
  box-sizing: border-box;
}
.about {
  color:white;
  width:60%;
  font-size:15px;
  position:relative;
  left:255px;
}

.details span{
  color:#85784a;
}

.details p {
  color:white;
}

li{
  float:left;
  margin:30px 25px;
  font-size:15px;
  position:relative;
  left:360px;
}

.containerAtas {
  background-image: url(https://web2.hirez.com/smite/v3/img/gamemodes-bg-arena.jpg);
  background-size:cover;
  width:100%;
  height:400px;
}
.headerArenaTengah {
  padding-top: 40px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 8px;
  position: relative;
  text-align: center;
  text-indent: 8px;
  font-family: "Penumbra Half Serif";
  font-size: 1.3rem;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.headerArena {
  border-bottom:3px solid #85784a ;
  margin-left:0;
  margin-right:2px;
  float:left;
}

.cotainerBawah {
  justify-content:center;
  width:90%;
  margin:20px 5%;
  padding-bottom:5rem;
  display:flex;
  flex-wrap:wrap;
}

.gameModes a{
  text-decoration:none;
}

.long {
  width:580px;
  overflow: hidden;
}

.arena-box{
  border: 1px solid #85784a;
  display: block;
  float: left;
  box-shadow: 0 0 10px #000;
  margin:20px 20px;
  position:relative;
  left:15px;
}

.arena-image {
  display: block;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: 50%;
}

.arena-image:hover{
  transform:scale(1.5);
}


.satu {
  background-image: url(https://web2.hirez.com/smite/v3/img/gamemode-tile-arena.jpg);
  transition:.5s;
}
.dua {
  background-image: url(https://web2.hirez.com/smite/v3/img/gamemode-tile-conquest.jpg);
  transition:.5s;
}
.tiga {
  background-image: url(https://web2.hirez.com/smite/v3/img/gamemode-tile-joust.jpg);
  transition:.5s;
}
.empat {
  background-image: url(https://web2.hirez.com/smite/v3/img/gamemode-tile-siege.jpg);
  transition:.5s;
}

.arena-name{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing:8px;
  color: #85784a;
  display: block;
  background-color: #050d1a;
  border: 1px solid #85784a;
}

h3 {
    position: relative;
    top: -10px;
    width: 100%;
    display: block;
    padding-top: 1rem;
    border-top: inherit;
    font-family: "Penumbra Half Serif";
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3px;
}

.containerBawah{
  background-color:#000;
  height:800px;
}

.message-wrapperArena{
  background-color:#000;
  height:150px;
  width:100%
}

.btn-gameModes {
  border: 3.5px solid #85784a;
  text-align: center;
  padding: 35px 20px;
  background-color: #131b28;
  cursor: pointer;
  box-shadow: 0 7px #000;
  color:#85784a ;
  font-weight: 500;
  letter-spacing: 4px;
  text-indent: 8px;
  font-family: "Penumbra Half Serif";
  font-size: 20px;
  position:relative;
  left:470px;
}

.btn-gameModes:hover {
  background-color: rgba(218,165,32,0.2);
  transition:all 0.5s ease;
}

.btn-gameModes:active{
  box-shadow:none;
  position:relative;
  top:7px;
}
