* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*====== Milik Bagian 1 ======*/

header {
  height: 50px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 100;
  margin-left: auto;
  margin-right: auto; 
}

.menu-bar {
	display: flex;
}

.logo {
  width: 30%;
  height: 30%;
  margin-top: 10px;
}

.more {
	display: none;
}

.header-left {
  flex: auto;
}

.header-right {
  flex: auto;
}

.header-right a {
  line-height: 50px;
  padding: 0 20px;
  color: white;
  float: left;
  transition: all 0.5s;
}

.header-left a {
  line-height: 50px;
  padding: 0 20px;
  color: white;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-left a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	padding-top: 5px;
}

.title-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(material/smite_website_header.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.title-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.title-wrapper p {
  opacity: 1;
  margin-bottom: 3px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  background-color: gray;
  cursor: pointer;
  box-shadow: 0 7px #000;
}

.btn:hover {
  opacity: 1;
}

.play:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-left {
	float: left;
}

.footer-right {
	float: right;
}

.footer-right img {
	padding-top: 20px; 
	width: 38px;
	height: auto;
}

/*====== Milik Bagian 2 ======*/
.events-wrapper h5 {
    padding-top: 40px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 8px;
    position: relative;
    text-align: center;
    text-indent: 8px;
    font-family: "Cinzel", serif;
    font-size: 2.6rem;
    margin: 0;
    display: block;
    box-sizing: border-box;
}

.events-wrapper {
    background-color: #091729;
    padding: 20px auto;
    width: 100%;
}

.events-container {
    justify-content: center;
    width: 90%;
    margin: 20px 5%;
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.events-container a {
    text-decoration: none;
    margin: 15px 15px;
}

.event-box {
    border: 1px solid #85784a;
    display: block;
    float: left;
    box-shadow: 0 0 10px #000;
}

.long {
    width: 500px;
}

.short {
    width: 235px;
}

.event-image {
    display: block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 50%;
}

.long .img {
    width: 100%;
    height: 20rem;
}

.event-name {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    display: block;
    background-color: #050d1a;
    border-top: 1px solid #85784a;
}

h7 {
    position: relative;
    top: -25px;
    width: 100%;
    display: block;
    padding-top: 1rem;
    border-top: inherit;

    font-family: "Cinzel", serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3px;
}

.event-circle {
    z-index: 10;
    position: inherit;
    top: -30px;
    left: 220px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #050d1a;
    border: 1px solid #85784a;
    text-align: center;
}

.short .event-circle {
    left: 85px;
}

.event-name .keris {
    position: inherit;
    top: 7px;
    height: 40px;
    width: 40px;
}

/* ====== Milik Bagian 3 ======*/
.heroes {
	padding-bottom: 50px;
	background-color: black;
	text-align: center;
}
.heroes-container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.heroes-heading {
	padding-top: 20px;
	color: #fff;
	font-family:"Verdana";
	font-size:45px;
	letter-spacing:8px;
}
.hero {
	width: 25%;
	float: left;
	height: 820px
}
.box {
	width:96%;
	height:100%;
	border: 5px ridge lightgray;
	margin:0 auto;
}
.pic {
	width:100%;
	height:70%;
	margin:0 auto;
}
.fighter {
	background-image: url(https://web2.hirez.com/smite/god-cards/achilles.jpg);
	background-size:cover;
}
.robot {
	background-image: url(https://web2.hirez.com/smite/god-cards/thanatos.jpg);
	background-size:cover;
}
.elemental-lord {
	background-image: url(https://web2.hirez.com/smite/god-cards/hera.jpg);
	background-size:cover;
}
.cleric {
	background-image: url(https://web2.hirez.com/smite/god-cards/change.jpg);
	background-size:cover;
}
.name {
	width:80%;
	color:lightgray;
	display:inline-block;
	font-size:20px;
	font-family:"Penumbra Half Serif";
	letter-spacing:2px;
}
.context {
	width:80%;
	color:lightgray;
	display:inline-block;
	font-size:13px;
	font-family:"Century Gothic";
	margin-top:0
}
